= simple_form_for(@tab) do |f|
  .field
    = f.input :title
  .field
    = f.input :band
  .field
    = f.input :body
  .field
    = f.input :source, :label => "Original source reference"
  .field
    = f.association :tags, :as => :radio
  .actions
    = f.submit

